In [1]:
import duckdb

In [12]:
ls

ASDN_csv/  README.md            database/    database.sqlite      trigger.sql
LICENSE    asdn-er-diagram.png  database.db  python-eds213.ipynb

In [2]:
conn = duckdb.connect("database.db")

In [3]:
cur = conn.cursor()

In [5]:
cur.execute("SELECT * FROM Site LIMIT 3")

CatalogException: Catalog Error: Table with name Site does not exist!
Did you mean "sqlite_master"?

LINE 1: SELECT * FROM Site LIMIT 3
                      ^

In [15]:
cur.fetchall()

InvalidInputException: Invalid Input Error: No open result set

cursors dont save any results they are just a pass through mechanism

In [16]:
cur.execute("SELECT Code FROM Site LIMIT 3")
cur.fetchall()

CatalogException: Catalog Error: Table with name Site does not exist!
Did you mean "sqlite_master"?

LINE 1: SELECT Code FROM Site LIMIT 3
                         ^

pretty common to use list comprehension to pull out values more conveintly

In [20]:
cur.execute("SELECT Code FROM Site LIMIT 3")

CatalogException: Catalog Error: Table with name Site does not exist!
Did you mean "sqlite_master"?

LINE 1: SELECT Code FROM Site LIMIT 3
                         ^

In [21]:
[t[0] for t in cur.fetchall()]

InvalidInputException: Invalid Input Error: No open result set

METHOD 2 GETTING ON ERESULT AT A TIME

In [22]:
cur.execute("SELECT Code FROM Site")
cur.fetchone

CatalogException: Catalog Error: Table with name Site does not exist!
Did you mean "sqlite_master"?

LINE 1: SELECT Code FROM Site
                         ^

Iterate over a cursor not supported by duckdb

dont do a select start in the next one

In [27]:
cur.execute("SELECT Code, Latitude, Longitude, FROM Site LIMIT 3")
cur.fetchall()

CatalogException: Catalog Error: Table with name Site does not exist!
Did you mean "sqlite_master"?

LINE 1: SELECT Code, Latitude, Longitude, FROM Site LIMIT 3
                                               ^

PARAMETERIZED QUERIES FOR HOMEWORK

In [28]:
cur.execute("SELECT Code FROM Species LIMIT 3")
cur.fetchall()

CatalogException: Catalog Error: Table with name Species does not exist!
Did you mean "pg_indexes"?

LINE 1: SELECT Code FROM Species LIMIT 3
                         ^

We want to know the number of nest for each species and we are not going to be using group by

In [31]:
species = "agsq"
query = "SELECT COUNT(*) FROM Bird_nests WHERE Species = ?"
cur.execute(query, [species])
cur.fetchall()

CatalogException: Catalog Error: Table with name Bird_nests does not exist!
Did you mean "pg_settings"?

LINE 1: SELECT COUNT(*) FROM Bird_nests WHERE Species = ?
                             ^

Lets put two things together, query for all species and loop over those species getting the number of nests for each species

In [36]:
cur.execute("SELECT Code FROM Species")
for row in cur.fetchall(): #in any other database, could iterate over the cursor
    species_code = row[0]
    cur2 = conn.cursor()
    cur2.execute(query, [species_code])
    num_nest = cur2.fetchone()[0]
    print(f"Species {species_code} has {num_nests} nests")
    cur2.close

CatalogException: Catalog Error: Table with name Species does not exist!
Did you mean "pg_indexes"?

LINE 1: SELECT Code FROM Species
                         ^

there are lots of convience functions and packages
this is a nice thing about duckdb

In [37]:
import pandas as pd

In [38]:
df = pd.read_sql("SELECT * FROM Site", conn)

DatabaseError: Execution failed on sql: SELECT * FROM Site
Catalog Error: Table with name Site does not exist!
Did you mean "sqlite_master"?

LINE 1: SELECT * FROM Site
                      ^
unable to rollback