In [1]:
# Import libraries
import duckdb
import pandas as pd

In [2]:
# Connect to ducl db
conn = duckdb.connect("database.db")
c = conn.cursor()

In [3]:
# View tables
c.execute("SHOW TABLES")
tables = c.fetchall()
tables

[('Bird_eggs',),
 ('Bird_nests',),
 ('Camp_assignment',),
 ('Personnel',),
 ('Site',),
 ('Species',)]

In [7]:
# Query the species
species_query = """
SELECT DISTINCT s.Code, s.Scientific_name
FROM Species s
JOIN Bird_nests n ON s.Code = n.Species
JOIN Bird_eggs e ON n.nest_id = e.nest_id
WHERE e.Width IS NOT NULL AND e.Length IS NOT NULL
ORDER BY s.Scientific_name
"""

In [8]:
# Execute the query and fetch all results
species_list = c.execute(species_query).fetchall()

In [16]:
# For loop to see who the winner is
for row in species_list:
    species_code = row[0]
    scientific_name = row[1]
    
    egg_query = """
    SELECT Width * Width * Length AS Volume
    FROM Bird_eggs e
    JOIN Bird_nests n ON e.nest_id = n.nest_id
    WHERE n.Species = ?
    """
    
    df = pd.read_sql(egg_query, conn, params=(species_code,))

    if df.empty or df["Volume"].mean() == 0:
        continue

    cv = round(df["Volume"].std() / df["Volume"].mean() * 100, 2)
    print(f"{scientific_name} {cv}%")

Arenaria interpres 21.12%
Calidris alpina 5.46%
Calidris fuscicollis 16.77%
Charadrius semipalmatus 8.99%
Phalaropus fulicarius 4.65%
Pluvialis dominica 19.88%
Pluvialis squatarola 6.94%