In [33]:
pip install duckdb

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb in /Users/overbye/.local/lib/python3.7/site-packages (1.2.2)
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the '/opt/python/3.7.13/bin/python3.7 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pandas as pd
import duckdb

In [45]:
# Connect to the database
conn = duckdb.connect("database.db")
c = conn.cursor()

In [46]:
cur = conn.cursor()

In [22]:


# Get all species with egg data, ordered by scientific name
species_query = """
SELECT DISTINCT s.Code, s.Scientific_name 
FROM Species s
JOIN Bird_nests n ON s.Code = n.Species
JOIN Bird_eggs e ON n.nest_id = e.nest_id
WHERE e.Width IS NOT NULL AND e.Length IS NOT NULL
ORDER BY s.Scientific_name
"""

In [23]:
species_query

'\nSELECT DISTINCT s.Code, s.Scientific_name \nFROM Species s\nJOIN Bird_nests n ON s.Code = n.Species\nJOIN Bird_eggs e ON n.nest_id = e.nest_id\nWHERE e.Width IS NOT NULL AND e.Length IS NOT NULL\nORDER BY s.Scientific_name\n'

In [24]:
c.execute("""SELECT DISTINCT Code, Scientific_name FROM Species 
    INNER JOIN Bird_nests
    ON Species.Code = Bird_nests.Species
    INNER JOIN Bird_eggs
    ON Bird_eggs.Nest_ID = Bird_nests.Nest_ID
    ORDER BY Scientific_name""")
c.fetchall()

CatalogException: Catalog Error: Table with name Species does not exist!
Did you mean "pg_indexes"?

LINE 1: SELECT DISTINCT Code, Scientific_name FROM Species
                                                   ^

In [47]:
conn.execute("SHOW TABLES")
tables = conn.fetchall()

In [48]:
tables

[]

In [26]:
%ls database.db

database.db

In [27]:
# Get all species with egg data, ordered by scientific name
species_query = """
SELECT DISTINCT s.Code, s.Scientific_name 
FROM species s
JOIN nests n ON s.Code = n.Species
JOIN eggs e ON n.ID = e.Nest_ID
WHERE e.Width IS NOT NULL AND e.Length IS NOT NULL
ORDER BY s.Scientific_name
"""

In [28]:
# List all tables in the database
c.execute("SHOW TABLES")
tables = c.fetchall()
print("Available tables:")
for table in tables:
    print(table[0])

Available tables:

In [35]:
for row in c.execute(species_query).fetchall():
    species_code = row[0]
    scientific_name = row[1]

CatalogException: Catalog Error: Table with name species does not exist!
Did you mean "pg_indexes"?

LINE 3: FROM species s
             ^